*{
    margin: 0;
    padding: 0;
    
}
body{
    display: flex;
    height:100vh;
    background-color: rgb(80, 13, 143);
    align-items: center;
    justify-content: center;
}
.homeScreen{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
    flex-direction: column;
    height: 75vh;
    border: 2px solid black;
    border-radius: 8px;
    background: antiquewhite;
    min-width: 300px;
    width: 28vw;
}
.txt{
    margin: 10%;
    text-align: center;
    font-weight:bolder;
    font-size: large;
    width: 65%;
}
.diff{
    margin-bottom: 4%;
}
.pic{
    display: flex;
    justify-content: center;
    width: 80%;
    height: 30%;
}
.pic img{
    width: 80%;
    height: 100%;
}
.btns{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 30%;
}
.btns button{
    margin: 2%;
    width: 80%;
    height: 30%;
    border: none;
    border-radius: 3px;
}
button:hover{
    background-color: #fff;
}
.btn-text{
    font-size: medium;
}
.btn1{
    background-color: blueviolet;
}
.btn2{
    background-color: blueviolet;
}