@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;  
}
body{
    display: flex;
    height:100vh;
    background-color: rgb(80, 13, 143);
    align-items: center;
    justify-content: center;
}
.homeScreen{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
    flex-direction: column;
    height: 75vh;
    border: 2px solid black;
    border-radius: 8px;
    background: antiquewhite;
    min-width: 300px;
    width: 28vw;
}
.txt{
    margin: 10%;
    text-align: center;
    font-weight:bolder;
    font-size: x-large;
    width: 65%;
}
.diff{
    margin-bottom: 4%;
}
.pic{
    display: flex;
    justify-content: center;
    width: 80%;
    height: 30%;
}
.pic img{
    width: 80%;
    height: 100%;
}
.btns{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 30%;
}
button{
    margin: 2%;
    width: 80%;
    height: 30%;
    border: none;
    border-radius: 3px;
    /* background-color: blueviolet; */
    background-image: linear-gradient(92.88deg, #455eb5 9.16%, #5643cc 43.89% ,#673fd7 64.72%);
    cursor: pointer;
    color: #fff;
    text-shadow: rgba(0,0,0,.25) 0 3px 80px;
    transition: all 0.5;
}
button:hover{
    box-shadow: rgba(80,63,205,0.2) ,0 1px 30px;
    transition-duration: 0.1s;
}
.btn-text{
    font-size: large;
}


